## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [40]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [133]:
# Your code here
sample_list_1=random.sample(range(0,101),80)
#sample_list_1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [134]:
# Your code here
set1=set(sample_list_1)
if len(set1)==80:
    print ('true _', 'the leng is 80')
else:
    print('false')

true _ the leng is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [163]:
# Your code here
sample_list_2=[random.randint(0,100) for i in range(80)]
#sample_list_2

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [136]:
# Your code here
set2=set(sample_list_2)
if len(set2)==80:
    print ('true _', 'the leng is 80')
else:
    print('false _', 'the leng is not 80 because there are duplicate values')

false _ the leng is not 80 because there are duplicate values

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [137]:
# Your code here
set3=set1-set2
#set3

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [138]:
# Your code here
set4=set2-set1
set4

{7, 13, 18, 37, 50, 54, 67, 71, 86, 89, 90, 97, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [139]:
# Your code here
set5=set1&set2
set5
len(set5)

44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [164]:
# Your code here
print('len(set1) = ',len(set1), ">>> beacuse it's a list of unique values")
set1_math=(len(set3)+len(set5))
print('formula = set1_math=(len(set3)+len(set5)) = ',set1_math,' = len(set1)')
print('')

print('len(set2) = ',len(set2), ">>> beacuse it's a list of not unique values")
set2_math=(len(set4)+len(set5))
print('formula = set2_math=(len(set4)+len(set5)) = ',set2_math,' = len(set2)')
print('')

print('len(set3) = ',len(set3), ">>> (set1-set2), so we have all the values in set 1 but not in set2")
set3_math=(len(set1)-len(set5))
print('formula = set3_math=(len(set1)-len(set5)) = ',set3_math,' = len(set3)')
print('')

print('len(set4) = ',len(set4), ">>> (set2-set1), so we have all the values in set 2 but not in set1")
set4_math=(len(set2)-len(set5))
print('formula = set4_math=(len(set2)-len(set5)) = ',set4_math,' = len(set4)')
print('')

#SETS >>>>> BE ATTENTION
#print('len(set5) = ',len(set5), ">>> the commun values")
#set5_math=(len(set1)+len(set2)-len(set3)-len(set4))/2
#print('formula = set5_math=(len(set1)+len(set2)-len(set3)-len(set4))/2 = ',int(set5_math),' = len(set5)')

len(set1) =  79 >>> beacuse it's a list of unique values
formula = set1_math=(len(set3)+len(set5)) =  80  = len(set1)

len(set2) =  57 >>> beacuse it's a list of not unique values
formula = set2_math=(len(set4)+len(set5)) =  57  = len(set2)

len(set3) =  36 >>> (set1-set2), so we have all the values in set 1 but not in set2
formula = set3_math=(len(set1)-len(set5)) =  35  = len(set3)

len(set4) =  13 >>> (set2-set1), so we have all the values in set 2 but not in set1
formula = set4_math=(len(set2)-len(set5)) =  13  = len(set4)

#### Create an empty set called `set6`.

In [141]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [142]:
# Your code here
set6.update(set3)
set6.update(set5)
#set6

#### Check if `set1` and `set6` are equal.

In [143]:
# Your code here
if set1==set6:
    print('True_set1=set6')
else:
    print('False_set1<>set6')

True_set1=set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [144]:
# Your code here
if set2.issubset(set1)==True:
    print ('TRUE _ set1 contains set2 ')
else:
    print ('False _ set1 do not contains set2 ')

    
if set3.issubset(set1)==True:
    print ('TRUE _ set1 contains set3')
else:
    print ('False _ set1 do not contains set3')

False _ set1 do not contains set2
TRUE _ set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [145]:
# Your code here
union=set3.union(set4,set5)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

In [146]:
union=union.union(set1,set2)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [147]:
set1

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 17,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 55,
 56,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 81,
 82,
 84,
 85,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 98}

In [148]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [160]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1-set(list_to_remove))

{2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 58, 60, 63, 64, 65, 66, 70, 72, 73, 74, 75, 76, 77, 78, 82, 84, 85, 87, 88, 92, 93, 94, 95, 96, 98}